{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    The largest collection for bakers.
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
<div>
        <p class="text-center search-test">You have searched for:<b>{{query}}</b> </p>
</div>
<div class="container">
    <div class="row mx-auto">
        {% for product in products %}
        <div  class="my_bottom_margin col-md-3">
            <div class="card" style="width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top card_image" src="{{product.image.url}}" alt="{{product.name}}"  width="200" height="300"></a>
                <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <p class="card-text">{{product.price}}</p>
                </div>
            </div>
        </div>
         {% empty %}
         <div class="row mx-auto">
             <p class="text-center search-test">0 results found for your search:<b>{{query}}</b> </p>
         </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
